version: '3.8'

services:
  web:
    env_file:
      - .env
    build: .
    ports:
      - "8000:8000"
    command: gunicorn epp_project.wsgi:application --bind 0.0.0.0:8000
    expose:
      - "8000"
    volumes:
      - static_volume:/code/static
      - .:/code
      - media_volume:/code/media
    depends_on:
      - db

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/code/static
      - media_volume:/code/media
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: epp_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
  static_volume:
  media_volume: