{% extends 'base/echoes_base.html' %}
{% block body %}

<!-- ✅ メッセージ表示 -->
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="閉じる"></button>
    </div>
  {% endfor %}
{% endif %}

  <h2>ログイン</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ログイン</button>
  </form>

  <p>アカウントをお持ちでない方は <a href="{% url 'accounts:signup' %}">新規登録</a></p>

   <form method="POST" action="{% url 'accounts:logout' %}">
  {% csrf_token %}
  <button type="submit">ログアウト</button>

{% endblock %}