services:
  web:
    build: 
      context: ..
      dockerfile: deploy/Dockerfile
    container_name: django_app
    restart: always
    env_file:
      - ../.env.prod
    depends_on:
      - db
    volumes:
      - static_volume:/app/staticfiles
    expose:
      - "8000"

  nginx:
    image: nginx:1.25
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/staticfiles
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - web

  db:
    image: postgres:15
    container_name: postgres
    restart: always
    environment:
      POSTGRES_DB: epp_db
      POSTGRES_USER: epp_user
      POSTGRES_PASSWORD: epp_pass
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  static_volume:
  postgres_data:
