{% extends 'base/echoes_base.html' %}
{% block body %}

<h2>トップページ</h2>
<a href="{% url 'website_app:team_initial_reg' %}">初期登録する</a>
<a href="{% url 'website_app:team_list' %}">一覧表示</a>
<a href="{% url 'website_app:report_reg' %}">報告</a>
<a href="{% url 'website_app:report_list' %}">報告一覧</a>

<div class="container mt-4">
  <h2>現在のステータス</h2>
  <p>現在時刻：{{ now|date:"Y-m-d H:i" }}</p>

  <h3>各所状況</h3>
  <h4>受付</h4>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">段階</th>
               <th scope="col">団体名</th>
               <th scope="col">定刻</th>
               <th scope="col">到着印</th>
            </tr>
         </thead>
         <tbody>
            <tr>
              <th scope="row">現在</th>
              <td>{{ checkin1_now.team_name }}</td>
              <td>{{ checkin1_now.checkin_pretime_1 }}</td>
              <td>
                {% if checkin1_now.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">次団体</th>
              <td>{{ checkin1_pos.team_name }}</td>
              <td>{{ checkin1_pos.checkin_pretime_1 }}</td>
              <td>
                {% if checkin1_pos.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">次々団体</th>
              <td>{{ checkin1_pos2.team_name }}</td>
              <td>{{ checkin1_pos2.checkin_pretime_1 }}</td>
              <td>
                {% if checkin1_pos2.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
         </tbody>
      </table>
   </div>

  <h4>前室</h4>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">段階</th>
               <th scope="col">団体名</th>
               <th scope="col">定刻</th>
               <th scope="col">到着印</th>
            </tr>
         </thead>
         <tbody>
            <tr>
              <th scope="row">現在</th>
              <td>{{ checkin2_now.team_name }}</td>
              <td>{{ checkin2_now.checkin_pretime_1 }}</td>
              <td>
                {% if checkin2_now.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">次団体</th>
              <td>{{ checkin2_pos.team_name }}</td>
              <td>{{ checkin2_pos.checkin_pretime_1 }}</td>
              <td>
                {% if checkin2_pos.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">次々団体</th>
              <td>{{ checkin2_pos2.team_name }}</td>
              <td>{{ checkin2_pos2.checkin_pretime_1 }}</td>
              <td>
                {% if checkin2_pos2.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
         </tbody>
      </table>
   </div>
  
  <h4>舞台</h4>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">段階</th>
               <th scope="col">団体名</th>
               <th scope="col">定刻</th>
               <th scope="col">到着印</th>
            </tr>
         </thead>
         <tbody>
            <tr>
              <th scope="row">現在</th>
              <td>{{ onstage_now.team_name }}</td>
              <td>{{ onstage_now.checkin_pretime_1 }}</td>
              <td>
                {% if onstage_now.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">次団体</th>
              <td>{{ onstage_pos.team_name }}</td>
              <td>{{ onstage_pos.checkin_pretime_1 }}</td>
              <td>
                {% if onstage_pos.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
            <tr>
              <th scope="row">次々団体</th>
              <td>{{ onstage_pos2.team_name }}</td>
              <td>{{ onstage_pos2.checkin_pretime_1 }}</td>
              <td>
                {% if onstage_pos2.checkin_postime_1 %}
                  ✅
                {% endif %}
              </td>
            </tr>
         </tbody>
      </table>
   </div>

{% endblock %}